.photo-grid {
  --spacer-sides: 48px;
  --spacer-top: 92px;
  max-width: 1184px;
  width: calc(100% - 2 * var(--spacer-sides));
  height: calc(100% - var(--spacer-top));
  margin: 0;
  padding: var(--spacer-top) var(--spacer-sides) 0;
}


@media screen and (max-width: 1023px) {
  .photo-grid {
    --spacer-sides: 24px;
    --spacer-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    --spacer-sides: 16px;
    --spacer-top: 64px;
  }
}