.places {
  width: calc(100% - 2 * var(--places-spacer-sides));
  margin: 0;
  padding: var(--places-spacer-top) var(--places-spacer-sides) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}