.header {
  width: calc(100% - 2 * var(--header-spacer-sides));
  margin: 0;
  padding: var(--header-spacer-top) var(--header-spacer-sides) 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}