.header__lang-links {
  width: 77px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
      width: 62px;
  }
}