.intro {
  width: calc(100% - 2 * var(--intro-spacer-sides));
  margin: 0;
  padding: var(--intro-spacer-top) var(--intro-spacer-sides) 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}