:root {
  /* Набор цветов */
  --background-color: #2a2c2f;
  --font-color: #fff;
  --url-caption-color: #aaa;
  /* Набор точек перехода */
  /* --breakpoint-L: 1279px;
  --breakpoint-M: 1023px;
  --breakpoint-S: 767px;
  --breakpoint-XS: 413px; */
  /* Настройки шрифта */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
