.cover__background {
  max-width: 1184px;
  min-height: 890px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

@media screen and (max-width: 1279px) {
  .cover__background {
      min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
      min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background{
      min-height: 200px;
  }
}