.place {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: 
    "title website" 
    "image text";
  grid-template-columns: max-content;
  grid-template-rows: repeat(2, max-content);
  row-gap: 48px;
  column-gap: 40px;
}

/* @media screen and (max-width: 1279px) {
  .place {

  }
}

@media screen and (max-width: 1023px) {
  .place {

  }
}

@media screen and (max-width: 767px) {
  .place {

  }
} */